{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Recently Updated Manga</h1>
    <ul>
        {{range .RecentlyUpdated.Mangas}}
        <li>
            {{.Attributes.Title.En}} - {{.Attributes.LatestUploadedChapter}}

        </li>
        {{end}}
    </ul>

    <h1>Recommended Manga</h1>
    <ul>
        {{range .Recommended.Mangas}}
        <li>
            {{.Attributes.Title.En}} - {{.Attributes.LatestUploadedChapter}}

        </li>
        {{end}}
    </ul>

    <h1>Popular Manga</h1>
    <ul>
        {{range .Popular.Mangas}}
        <li>
            {{.Attributes.Title.En}} - {{.Attributes.LatestUploadedChapter}}

        </li>
        {{end}}
    </ul>
</body>

</html>
{{end}}